@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");
body{
  background-color: rgb(235, 235, 235);
  font-family: "Helvetica", "Sans-serif";
  color: rbg(90, 90, 90);
}
h1 {
  font-size: 40px;
  color:rgb(90, 90, 90);
  font-family: "Helvetica", "Sans-serif";
}
p {
  line-height: 1.5;
}
a{
  text-decoration: none;
  font-weight: bolder;
  color: rgb(79, 119, 45);
}
h2 {
  color: rgb(144, 169, 85)
}
.container{
  width: 500px;
  margin: auto;
}
.container-top {
 background-color: white;
 width: 500px;
 padding: 40px;
 margin: 20px auto;
 box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
 border-radius: 4px;
 text-align: center;
}
.container-bottom {
 background-color: white;
 width: 500px;
 padding: 40px;
 margin: 20px auto;
 box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
 border-radius: 4px;
 text-align: center;
}
#img-circle {
  border-radius: 50%;
}
#btn-green {
  background-color: rgb(144, 169, 85);
  color: white;
  padding: 15px 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
}
#btn-green:hover {
 opacity: 0.5;
}
#list-inline {
  list-style: none;
  padding-left: 0;
}

#list-inline li {
  display: inline;
  margin: 10px;
}
#list-inline i {
  color: rgb(150, 150, 150);
  font-size: 40px;
}
#list-inline i:hover {
  color: rgb(144, 169, 85);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
